/*COULEURS*/
/*FIN COULEURS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", "Sans-Serif";
}

header {
  display: inline-block;
  width: 100%;
  min-height: 20px;
  padding: 20px 0;
  text-align: center;
}

header img {
  margin: 0 auto;
  min-width: 100px;
  width: 40%;
}

header a i {
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  font-size: 20px;
}

.location, .hero, .fonctionnement, .restaurants, .menu, footer {
  padding: 20px 30px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.button {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
  max-width: 225px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  padding: 16px;
  border: 0;
  text-align: center;
  margin: 0 auto;
}

.button a {
  margin: 0;
  display: block;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

/*ACCEUIL*/
.location, .hero {
  text-align: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 8px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 8px 4px -2px rgba(0, 0, 0, 0.2);
}

.location__pin {
  margin-right: 10px;
}

.hero {
  background-color: #f6f6f6;
}

.hero * {
  margin: 10px auto;
}

.hero__title {
  width: 70%;
}

.hero__sentence {
  width: 90%;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 20px;
}

.hero__button {
  margin-top: 30px;
  margin-bottom: 40px;
}

.fonctionnement {
  margin-top: 15px;
}

.fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement ul li {
  width: 95%;
  padding: 20px 30px;
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
}

.fonctionnement ul li:hover {
  background-color: #9256dc28;
}

.fonctionnement ul li:first-child:before, .fonctionnement ul li:first-child::before {
  content: "1";
  color: white;
  font-weight: normal;
  position: relative;
  right: 40px;
  background-color: #9356DC;
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.fonctionnement ul li:nth-child(2):before, .fonctionnement ul li:nth-child(2)::before {
  content: "2";
  color: white;
  font-weight: normal;
  position: relative;
  right: 40px;
  background-color: #9356DC;
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.fonctionnement ul li:last-child:before, .fonctionnement ul li:last-child::before {
  content: "3";
  color: white;
  font-weight: normal;
  position: relative;
  right: 40px;
  background-color: #9356DC;
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.fonctionnement i {
  font-size: 20px;
  width: 20px;
  margin-right: 30px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #eaeaea;
  padding: 40px 20px;
  width: 100%;
}

.restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 0px solid transparent;
}

.restaurants__card a {
  width: 100%;
  text-decoration: none;
}

.restaurants__card a img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card a.new::before {
  content: 'Nouveau';
  padding: 8px;
  color: #008766;
  background-color: #99E2D0;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 70px;
  position: absolute;
  right: 35px;
  margin-top: 15px;
}

a .restaurants__pres {
  padding: 15px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a .restaurants__pres > .restaurants__txt > .restaurants__name {
  font-weight: bold;
  margin: 8px 0;
}

a .restaurants__pres > .restaurants__txt > .restaurants__byline {
  margin: 6px 0;
  font-weight: lighter;
}

a .restaurants__pres > .restaurants__fav {
  width: 50px;
  text-align: center;
  padding-top: 15px;
}

a .restaurants__pres > .restaurants__fav i {
  font-size: 25px;
}

/*RESTAURANTS*/
main img {
  max-width: 100%;
  z-index: 10;
}

input[type="checkbox"] {
  display: none;
}

.menu {
  background-color: #f6f6f6;
  z-index: 20;
  margin-top: -75px;
  position: relative;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: "Roboto", "Arial", "Sans-Serif";
}

.menu__title {
  margin-top: 10px;
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 1px;
  display: inline-block;
  font-family: "Shrikhand", "Arial", "Sans-Serif";
}

.menu > i {
  float: right;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 25px;
}

.menu__etape h3 {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}

.menu__etape h3::before {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  position: relative;
  top: 25px;
  left: 0;
  background-color: #99E2D0;
}

.menu__item li {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.menu__item li > div:not(.select) {
  width: 80%;
  max-width: 100%;
}

.menu__item li .menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 0 0;
}

.menu__item li .menu__name {
  font-size: 18px;
  font-weight: bold;
  max-width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__item li .menu__detail {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-weight: lighter;
  font-size: 16px;
}

.menu__item li .menu__prix {
  max-width: 45px;
  width: 30px;
  min-width: 30px;
  font-weight: bold;
  text-align: right;
}

.menu__item li label.menu__info {
  margin-bottom: 10px;
  width: inherit;
  position: absolute;
  margin: 0;
  height: 60px;
  width: 80%;
}

.menu__item li .select {
  width: 0px;
  opacity: 0;
  background-color: #99E2D0;
  display: inline-block;
  position: relative;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: -10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 5px;
  -webkit-transition: all 250ms linear 0ms 1 normal forwards;
  transition: all 250ms linear 0ms 1 normal forwards;
}

.menu__item li .select i {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid white;
  font-size: 14px;
}

.menu__item li input[type="checkbox"]:checked + div.select {
  -webkit-animation: select  250ms linear 0ms 1 normal forwards;
          animation: select  250ms linear 0ms 1 normal forwards;
}

.menu__item li input[type="checkbox"]:checked + div.select i {
  -webkit-animation: rotate 250ms linear 1ms 1 normal forwards;
          animation: rotate 250ms linear 1ms 1 normal forwards;
}

/*FOOTER*/
footer {
  background-color: #353535;
}

footer nav p {
  font-family: "Shrikhand", "Arial", "Sans-Serif";
  color: #ffffff;
  font-size: 22px;
  margin: 20px 0;
}

footer nav ul li {
  font-size: 16px;
  color: #ffffff;
  margin: 20px 0;
}

footer nav ul li i {
  width: 25px;
}

footer nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/*SPINNER*/
#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 1000;
  -webkit-animation: loader_animation 1s linear 3s 1 normal forwards;
          animation: loader_animation 1s linear 3s 1 normal forwards;
}

#loader {
  display: none !important;
}

#loader i {
  display: inline-block;
  font-size: 40px;
  margin: auto;
  position: absolute;
  left: calc(50%);
  top: 50%;
}

/*ANIMATIONS*/
@-webkit-keyframes loader_animation {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    width: 0;
  }
}
@keyframes loader_animation {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    width: 0;
  }
}

@-webkit-keyframes select {
  from {
    width: 0px;
    opacity: 1;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    width: 60px;
    margin-left: 5px;
  }
}

@keyframes select {
  from {
    width: 0px;
    opacity: 1;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    width: 60px;
    margin-left: 5px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}
/*# sourceMappingURL=main.css.map */